* {
    border: 2px solid red;
}

html {
    box-sizing: border-box;
    font-size: 29px;
    font-family: sans-serif;
    font-family: 'Oswald';
    border: 2px solid red;
}

a {
  text-decoration: none;
}
.top-nav {
    width: 100%;
    padding: 46px 75px 50px 75px;
    background-color: #dfdfdf
}

.icon {
    width: 75px;
    height: 75px;
    background-color: rgb(42, 231, 43);
    display: inline-block;
}

.hamburger {
    width: 75px;
    height: 75px;
    background-color: red;
    right: 0px;
    display: inline-block;
    float: right;
}

.top-section {
    width: 100%;
    height: 54vh;
    background-color: #bebebe;
    position: relative;
    padding: 42px 20px;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 300;
}

.solid-block {
    padding: 3px;
    width: 800px;
    border: 5px solid red;
    content: " ";
    display: block;
    background: #fff;
    height: 9px;
    width: 20%;
    position: absolute;
    left: -20%;
    top: 5px;
}

.top-section h1 {
    font-size: 5rem;
    text-transform: uppercase;
    margin: 5px;
}

.top-section h2 {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 1.1;
}

.top-section h3 {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.call-to-action-btn{
    background: #bdd436;
    border: 2px solid #bdd436;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Open Sans';
    letter-spacing: 1px;
    padding: 28px;
    border-radius: 62px;
    margin: 0 auto;
    margin-top: 4.1rem;
    text-align: center;
    width: 91vw;
}

.mission-statement{
  padding: 100px 1rem 100px 1rem;
  text-align: center;
  background-color: #d6d6d6;
  color: #3e3c3e;
  font-size: 2rem;
  font-family: 'Open Sans';
  line-height: 3rem;
}
.mission-statement strong{
  font-weight: 500;
}

.how-it-works {
  height: 100vh;
  background-color: #dcdcdc;
}

.toolbox-logo:before{
  content: " ";
  display: block;
  background: url(../img/sprite_home.png);
  width: 75px;
  height: 75px;
  margin: 0 auto;
  background-position: -22px -113px;
  margin-bottom: 20px;
}
.mid-section {
  height: 200vh;
  background-color: #cdcdcd;
}

.how-can-we-help {
  height: 200vh;
  background-color: #dcdcdc;
}

.repair {}

.develop {}

.build {}

.talented {}

.ecommerce {}

.references {
  height: 100vh;
  background-color: #cacaca;
}

.card {}

.lets-talk {
  height: 40vh;
  background-color: #9d9d9d;
}

.lets-talk-logo {}

.lets-talk-statement {}

.logistics {}

.log-card {}

.address {}

.location-title {}

.address-block {}

.bottom-nav {
  padding: 76px;
  content: " ";
  background-color: #fff;
  color: #000;
}